# --- 공통 (OS 및 에디터 설정) ---
.DS_Store
*.log
.idea/
.vscode/
*.iml

# --- Frontend ---
frontend/node_modules/
frontend/.next/
frontend/.env* # 보안 중요!

# --- Backend ---
dungeong/build/
dungeong/out/
dungeong/.gradle/
dungeong/src/main/resources/application-secret.yml
dungeong/src/main/resources/application-prod.yml
dungeong/src/main/resources/google-credentials.json